build --bes_results_url=https://bookingcom-opensource.buildbuddy.io/invocation/
build --bes_backend=grpcs://bookingcom-opensource.buildbuddy.io
build --remote_cache=grpcs://bookingcom-opensource.buildbuddy.io
build --remote_timeout=3600

common --experimental_isolated_extension_usages
common --build_metadata=VISIBILITY=PUBLIC

#build --remote_executor=grpcs://remote.buildbuddy.io

build --incompatible_strict_action_env

build:debug --noincompatible_sandbox_hermetic_tmp --sandbox_debug
build --experimental_ui_max_stdouterr_bytes=104857600

try-import %workspace%/.bazelrc.user
